<html>
  <head>
    <title>Compose</title>
  </head>
  <body>
    <form action="/send" method="post">
      <div>To: <input type="text" name="to"/><div/>
      <div><textarea name="message" rows="4" cols="50"></textarea></div>
      <div><input type="submit" value="Send"/></div>
    </form>
  </body>
</html>
